<div id="site" class="grid">
    <div id="site-container-column">
        <div class="header">
            <app-title></app-title>
            <div class="solid-line">
        </div>
        <app-navigation-bar></app-navigation-bar>
        <div class="content">
            <div class="flex-container">
                <div class="flex-pet-and-interface">
                    <div class="flex-item" id="pet-interaction-interface">
                        <app-pet-interaction-interface></app-pet-interaction-interface>
                        <app-healthcheck></app-healthcheck>
                    </div>
                    <div class="flex-item" id="pet">
                        <app-pet></app-pet>
                    </div>
                </div>
                <div id="interaction-log">
                    <app-interaction-log></app-interaction-log>
                </div>
            </div>
        </div>
    </div>
</div>