<div id="site" class="grid">
    <div class="header">
        <app-title></app-title>
    </div>
    <div class="content">
        <app-healthcheck></app-healthcheck>
        <div class="flex-container">
            <div class="flex-item" id="pet-interaction-interface">
                <app-pet-interaction-interface></app-pet-interaction-interface>
            </div>
            <div class="flex-item" id="pet">
                <app-pet></app-pet>
            </div>
        </div>
    </div>
</div>