.grid {
    display: grid;
    grid-template-columns:auto;
    grid-template-areas:
        "header"
        "content"
}

.header {
    grid-area: header
}

.content {
    grid-area: content;
}

.solid-line {
    border-top: 3px solid black;
    margin: 0;
}

#site-container-column {
    width: 100%; // For small screens, just fill the screen
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: 75em) {
        max-width: 75em; // For desktop, create a column for content
    }
    background-color: white;
}

#site {
    background-color: rgba(0, 0, 0, 0.11);
    min-height: 100vh;
}