<div id="whole-health-check">
    <ng-container *ngIf="(healthy$ | async) as healthy">
        <div class="connected-indicator-with-text">
            <div class="circle" id="healthy_circle"></div>
            <div>Connected</div>
        </div>
    </ng-container>
    <ng-container *ngIf="((healthy$ | async) === false) as healthy">
        <div class="connected-indicator-with-text">
            <div class="circle" id="unhealthy_circle"></div>
            <div>Not Connected</div>
        </div>
    </ng-container>
</div>