.circle {
    height: 1em;
    width: 1em;
    border-radius: 50%;
}

#healthy_circle {
    background-color: #07e000;
}

#unhealthy_circle {
    background-color: #e00000;
}

#whole-health-check {
    padding-top: 0.25em;
}

.connected-indicator-with-text {
    display: flex;
}

.connected-indicator-with-text > div {
    margin: 0em 0.25em;
}