.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-pet-and-interface {
    flex: 3; // This is within the flex-container

    // But it is also its own flexbox, in order
    // to wrap the interface below the pet.
    display: flex;
    flex-wrap: wrap-reverse;
}

#pet-interaction-interface {
    flex: 1;
    min-width: 100%;
    // Pad less when screen real estate is worth more
    padding: 1em;
    @media only screen and (min-width: 15em) {
        min-width: 10em;
    }
    @media only screen and (min-width: 30em) {
        padding: 2em;
    }
}

#pet {
    flex: 2;
    min-width: 100%;
    @media only screen and (min-width: 20em) {
        min-width: 20em;
    }
    @media only screen and (min-width: 30em) {
        min-width: 30em;
    }
}

#interaction-log {
    flex: 2; // This is within the flex-container
    min-width: 100%;
    @media only screen and (min-width: 25em) {
        min-width: 20em;
    }
}