#navigation-bar {
    display: flex;

    @media only screen and (min-width: 22em) {
        padding: 0em 3em;
    }

    .navigation-item {
        // flex: 1;
        text-align: center;
        padding: 0.5em;
        min-width: fit-content;

        width: fit-content;
        margin: auto;

        @media only screen and (min-width: 26em) {
            width: 10em;
            margin: 0;
        }

        &:hover {
            background-color: black;
            color: white;
        }
    }

    .active {
        border-bottom: 3px solid;
    }

    a {
        text-decoration: none;
        color: black;
    }
}
