This is my cat Legs, please take care of him!
<div id="whole-pet-interaction-interface">
    <div>
        <div class="flex-container">
            <fa-icon [icon]="faAppleWhole"></fa-icon>
            <app-stat-bar [BarPercentage]=foodBarPercentage id="flex-bar"></app-stat-bar>
        </div>
        <div class="button-container">
            <button type="button" (click)="feedClick()">Feed</button>
        </div>
    </div>
    <div>
        <div class="flex-container">
            <fa-icon [icon]="faFaceLaughBeam"></fa-icon>
            <app-stat-bar [BarPercentage]=playBarPercentage></app-stat-bar>
        </div>
        <div class="button-container">
            <button type="button" (click)="playClick()">Play</button>
        </div>
    </div>
    <div>
        <fa-icon [icon]="faHeart"></fa-icon>
    </div>
</div>