@font-face {
    font-family: miracode;
    src: url("/assets/fonts/Miracode.tff")
}

#title {
    font-family: miracode;
    padding-right: 0.5em;
}

#whole-title {
    padding: 1em;
    display: flex;
    background-color: lightcoral;
    align-items: center;
}

fa-icon {
    padding: 0.5em;
    color: black;
}