#title {
    padding-right: 0.5em;
    @media only screen and (max-width: 30em) {
        font-size: 100%;
    }
}

a {
    text-decoration: none;
    color: black;
}

#whole-title {
    padding: 1em;
    display: flex;
    align-items: center;
}

fa-icon {
    padding: 0.5em;
    color: black;
}