@font-face {
    font-family: Miracode;
    src: url("/assets/fonts/Miracode.ttf") format('truetype')
}

#title {
    font-family: Miracode;
    padding-right: 0.5em;
}

#whole-title {
    padding: 1em;
    display: flex;
    background-color: #ca6c36;
    align-items: center;
}

fa-icon {
    padding: 0.5em;
    color: black;
}